body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(244, 228, 228);
}
.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 100%;
  background-color: rgb(212, 250, 255);
  border-radius: 15px;
}
.buy {
  background-color: rgb(128, 65, 188);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  padding: 8px 23px;
}
.creatorName,
.likes span {
  color: rgba(128, 65, 188, 0.7);
  font-size: 1rem;
  font-weight: bold;
}
.creator,
.priceBuy {
  background-color: rgb(255, 255, 255);
  padding: 0px 10px 0px 10px;
}
.creator {
  padding: 10px 10px 10px 10px;
  color: rgba(128, 65, 188, 0.5);
}
.picName {
  padding: 0px 10px 0px 10px;
}
.priceBuy {
  border-end-end-radius: 15px;
  border-end-start-radius: 15px;
  border-top: 1px solid rgb(244, 228, 228);
}
.picName,
.creator,
.priceBuy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likeBtn {
  width: 20px;
}
.priceBuy p {
  color: rgba(128, 65, 188, 0.5);
}
.picName p {
  font-weight: bold;
}
.priceBuy span {
  font-weight: bold;
  color: darkviolet;
}
.creatorProfile {
  display: flex;
}
.creatorInfo {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}
.creator img {
  width: 40px;
}
.pic img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  padding: 10px;
}
