html {
  display: block;
  overflow-x: auto;
  overflow-y: scroll;
}
body {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  min-height: 100vh;
}
.main-right-footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 25px;
  z-index: 0;
  min-width: 45vw;
  flex: 1;
}
.right-header {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 25px;
  z-index: 0;
  min-height: 600px;
  min-width: 45vw;
  flex: 1;
}
.twitter-picture {
  width: 35px;
}
.Happening-now-title {
  color: white;
  font-size: 50px;
  margin-top: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.join-today {
  color: white;
  font-size: 25px;
  margin-top: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.sign-up-google {
  width: 270px;
  height: 36px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}
.sign-up-apple {
  width: 270px;
  margin-top: 10px;
  height: 36px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
}
.sign-up-buttons {
  margin-top: 20px;
}
button:hover {
  cursor: pointer;
}
.or-section {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.line {
  width: 112px;
  height: 1px;
  background-color: rgb(47, 51, 54);
}
.or-half {
  color: white;
  margin-right: 5px;
  margin-left: 5px;
}
.create-but {
  width: 270px;
  margin-top: 8px;
  height: 30px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  background-color: rgb(29, 155, 240);
  color: white;
}
.login-terms {
  color: rgb(113, 118, 123);
  font-size: 11px;
  font-weight: 400px;
  margin-top: 5px;
  max-width: 350px;
  width: 270px;
}
.already-have-account {
  color: white;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.sign-in-but {
  width: 270px;
  margin-top: 20px;
  height: 36px;
  border-radius: 50px;
  font-weight: bold;
  border: 1px solid;
  border-color: white;
  background-color: black;
  color: rgb(29, 155, 240);
}
.footer {
  background-color: black;
  right: 0px;
  left: 0px;
  min-height: 57px;
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
}
.topfooter {
  color: rgb(113, 118, 123);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
  z-index: 65;
  height: 50px;
  flex-wrap: wrap;
  padding: 5px 5px 0px 0px;
  margin: 0px 0px 8px 8px;
}
.topfooter a:visited {
  color: rgb(113, 118, 123);
}
.backgrnd {
  z-index: -1;
  width: 800px;
  height: 600px;
}
.back-pic-div {
  height: 600px;
  object-fit: cover;
  object-position: right;
  display: flex;
  justify-content: flex-start;
  background-size: cover;
  position: relative;
  background-image: url(./lohp_en_1302x955.png);
  flex: 1;
}
.topfooter span {
  margin-right: 15px;
  display: flex;
  white-space: nowrap;
}
.main {
  height: 100%;
  border: 1px solid red;
  z-index: 33333;
}

svg {
  justify-content: center;
  min-width: 57vw;
  max-height: 380px;
  height: 50%;
  padding: 32px;
  width: 200px;
  padding-top: 50px;
}
@media (max-width: 1000px) {
  .main-right-footer {
    left: 0px;
    min-height: 50vh;
  }
  .right-header {
    left: 30vw;
  }
}
